<app-navbar></app-navbar>

<ion-content>
  <!-- header -->
<div class="jumbotron p-0  grey lighten-4 text-dark">

  <!-- Card image -->
  <div class="view overlay rounded-top waves-light" mdbWavesEffect>
    <img src="../../assets/wind-farm-1747331_1920.jpg" class="img-fluid" alt="Sample image">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center mb-3">

    <!-- Title -->
    <h3 class="card-title h3 my-4"><strong>FAQ</strong></h3>
    <!-- Text -->
    <p class="card-text py-2"> Our Frequently asked Questions</p>
    <!-- Button -->
    <a mdbBtn routerLink="/" rounded="true" class="primary-color-dark text-white mb-4" mdbWavesEffect>Home</a>

  </div>

</div>
<!-- end header -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="section-title text-center wow zoomIn">
        <h1>Frequently Asked Questions</h1>
        <span></span>
        <p>Our Frequently Asked Questions here.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                Can I register as a marketer as well as a customer?
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <p>Yes, although with different user names and email. </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                Apart from my account, can I also have accounts for my children?
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <p>Yes. Our platform has products that can benefit your children especially those writing WAEC and JAMB.  </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                If I forget my password, what will I do?
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <p>Where you lose your password, click on forget password and a One Time Password (OTP) will be sent to the email address you used during your registration.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                aria-expanded="false" aria-controls="collapseFour">
                What happens if I wish to update my account details?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <p>Log in to your account and make any needed update you desired example your account number, bank name and account name. </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                aria-expanded="false" aria-controls="collapseFive">
                At what point will I be paid?
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <p>The moment you have up to N1000 in your account.  </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"
                aria-expanded="false" aria-controls="collapseSix">
                Are there other ways of earning cash on the platform?
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <p>It is either you are earning as a marketer or you are earning as a customer. </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"
                aria-expanded="false" aria-controls="collapseSeven">
                What happens if two other customer queues under me and I withdraw all my money?
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <p>Customer’s that have two other users queued under them are removed from the system after they must have been paid. 
                This will enable them to be able to use their details to patronize other products. </p>
            </div>
          </div>
        </div>


       
      </div>
    </div>
    <!--- END COL -->
  </div>
  <!--- END ROW -->
</div>
<app-footer></app-footer>
</ion-content>
