<header style="margin-top: 50px">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">

        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item karosel1 active" >
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4 " style="font: bold; font-weight:bold; color: rgb(243, 33, 226)">SELL AND EARN</h2>
            <p class="lead text-dark" style="font-weight: bold">over 120 millionares</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item karosel2" >
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4 text-purple-gradient"  style="font: bold; font-weight:bold; color: rgb(61, 10, 247)">PROJECT MANAGEMENT</h2>
            <p class="lead text-dark"  style="font-weight: bold">Partnership with companies in contract execution.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item karosel3" >
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4"  style="font-weight: bold;  color: rgb(8, 123, 177)">COOPERATE IN BRANDING</h2>
            <p class="lead text-dark"  style="font-weight: bold">affiliate marketing platform</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
  </header>


