
<footer class="page-footer font-small black text-white pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase text-white">CHANNEL 1000</h5>
        <p>join our social community</p>

      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase text-white">Useful Links</h5>
        <ul class="list-unstyled">
          <li>
            <a routerLink="/">Home</a>
          </li>
          <li>
            <a href="#!">About us</a>
          </li>
          <li>
            <a href="#!">Contact us</a>
          </li>
          <li>
            <a href="#!">Privacy Policy</a>
          </li>
        </ul>

      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase text-white">Contacts</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">17 Chukwuka St Abakpa Enugu State, Nigeria</a>
          </li>
          <li>
            <a href="#!">+234 000 000 0000</a>
          </li>
          <li>
            <a href="#!">support@channel-1000.com</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
</footer>
