
<!-- Footer -->
<footer class="page-footer font-small blue darken-3 pt-4" style="margin-top: 100px;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a [routerLink]="['/policy']">Policy</a>
          </li>
          <li>
            <a [routerLink]="['/about']">About</a>
          </li>
          <li>
            <a [routerLink]="['/contactus']" >Contact</a>
          </li>
          <li>
            <a [routerLink]="['/services']">Services</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a [routerLink]="['/faq-questions']" >Faq</a>
          </li>
          <li>
            <a [routerLink]="['/testimonies']"  >Testimonies</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a mdbBtn [routerLink]="['/']"  type="button blue darken-3"   mdbWavesEffect> channel1000</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
