
<footer class="page-footer myfooter font-small black text-white">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase text-white">CHANNEL 1000</h5>
        <p>join our social community</p>
        <a href="https://www.facebook.com/100512005084585"> <i  class=" p-3 fa-4x fab fa-facebook-f"></i></a> 
        <a href="https://www.instagram.com/p/CCvhjQuD9II/?igshid=184kvkmpkhhz1"> <i  class="p-3 fa-4x fab fa-instagram"></i></a>
       <a href="https://chat.whatsapp.com/JaGTO9UaEPd2cDMCtGntpw"> <i  class="p-3 fa-4x fab fa-whatsapp"></i></a>
       
      </div>

      
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase text-white">Useful Links</h5>
        <ul class="list-unstyled">
          <li>
            <a routerLink="/">Home</a>
          </li>
          <li>
            <a  routerLink="/about">About us</a>
          </li>
          <li>
            <a routerLink="/contactus">Contact us</a>
          </li>
          <li>
            <a routerLink="/policy">Privacy Policy</a>
          </li>
        </ul>

      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase text-white">Contacts</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">17 Chukwuka St Abakpa Enugu State, Nigeria</a>
          </li>
          <li>
            <a href="#!">08097439900</a>
          </li>
          <li>
            <a href="#!">support@channel-1000.com</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> www.channel-1000.com</a>
  </div>
</footer>
