<!-- navbar -->
<app-navbar></app-navbar>

<ion-content>

<app-header></app-header>


<div class="jumbotron ion-padding text-center" color="primary">
  <h3 class="ion-text-uppercase">POVERTY AND LACK SHOULD STOP REPRODUCING IN YOUR FAMILY.
    INVEST IN  CHANNEL1000 AND HAVE A CHANGED LIFE</h3>
</div>


  <div class="how-section1">
    <div class="row">
        <!-- col write up -->
        <div class="col-md-6  ">
          <h1 class="font-weight-bold"> CHANNEL1000</h1>
          <p class="text-dark font-weight-bold">
            Your life time money making platform 
          </p>
          <ion-button routerLink="/register" expand="block" fill="solid" shape="round">
            register now
          </ion-button>
        </div>
      <!-- col- pic -->
      <div class="col-md-6">
        <img src="../../assets/img/people_big_smile.jpg" class="img-fluid" alt="" />
       
      </div>
    </div>



    <div class="row">
    <!-- col- pic -->
    <div class="col-md-6">
      <img src="../../assets/img/jobwell.jpg" class="img-fluid" alt="" />
    </div>
    <div class="col-md-6  ">
      <h6 class="font-weight-bold display-4"> WHAT IS <br>
      CHANNEL1000</h6>
      <p class="text-dark font-weight-bold">
        Channel1000 is a potent community tool and vehicle that will contribute
        to driving poverty away from this society. 
      </p>
      <p class="text-dark font-weight-bold">
        The smarter you subscribe to our products, the 
      more comfortable you would be as Channel1000 
      intends to pull resources 
      together through a committed network 
  </p>
    </div>
  </div>



  <div class="row">
    <!-- col write up -->
    <div class="col-md-6  ">
    <!-- <img src="../../assets/img/jobwell.jpg" class="img-fluid" alt="" /> -->
     
    </div>
  <!-- col- pic -->
  <div class="col-md-6">
    <!-- <p class="text-dark font-weight-bold">
      The smarter you subscribe to our products, the 
    more comfortable you would be as Channel1000 
    intends to pull resources 
    together through a committed network 
</p> -->
  </div>
</div>
   

    <div class="row ">
      <div class="col-md-6">
        <h4 class="display-5">What we do</h4>
        <ul>
       
        <li> <p>We are into advertisement, marketing and sales of company products</p></li>
          <li> <p>We help you gain financial freedom.</p> </li>
          <li> <p>We help you secure a better future for you and your family.</p></li>
          <li>  <p>Through our sales promo, we secure fund for your school fees, projects, wedding etc.</p></li>
        </ul>
      </div>
      <div class="col-md-6 how-img">
        <img src="../../assets/img/big-smile-w.jpg" class=" img-fluid" alt="" />
      </div>
    </div>



    <!-- info -->
    <div class="row">
      <div class="col-md-6 how-img">
        <img src="../../assets/app+pics/subscribe.png" class="rounded-circle img-fluid" alt="" />
      </div>
      <div class="col-md-6">
        <h4>Subscription</h4>
        <h4 class="subheading">Why subscribers?</h4>
        <p class="text-dark">Through our sales promo, we secure fund for your
           school fees, projects, wedding etc. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Benefits</h4>
        <h4 class="subheading">Here are the four beneficial stages for our investors</h4>
        <div class="text-muted">
          <ul>
            <li><p>We keep you in a financial comfort zone.</p></li>
            <li><p>We ensure you do not lack</p></li>
            <li><p>We pay when you place an order</p></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 how-img">
        <img src="../../assets/app+pics/benefits.png" class="rounded-circle img-fluid" alt="" />
      </div>
    </div>
  </div>


  <!--  banner -->
  <div class="jumbotron  grey lighten-4 jumbotron text-white text-white mt-0">
    <ion-row >
      <div class="col md-6 ">
        <h4 class="font-weight-bold mt-5"> Build a successful future with channel1000</h4>
        <p class="font-weight-bold text-dark">The road that leads to financial freedom is channel1000
          For this reason, we encourage you to 
          Keep buying in order to keep earning as Channel1000 keeps you in a financial comfort zone.
        </p>
      </div>
      <div class="col md-6">
        <img src="../../assets/images/backgrounds/laptop_with_plant.png" class=" img-fluid" alt="" />
      </div>
    </ion-row>
  </div>
  <!-- end banner -->

  <app-footer></app-footer>
</ion-content>
