
<app-header></app-header>

<!-- ================================== -->
<!-- <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header bg-warning">
      <h4 class="modal-title " id="modal-basic-title bold text-center"> Choose account type</h4>



      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <a [routerLink]="['/about']" (click)="d('Cross click')"   >Why do i need to choose account type?</a>
    </div>
    <div class="modal-footer">
        <a (click)="marketerReg()" class="btn btn-lg btn-outline-warning text-left" >Marketer </a>
      <button type="button" class="btn btn-lg btn-outline-success" (click)="('Save click')">Investor</button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->

<!-- ================================== -->
<!--Section: Features v.4-->

  <!-- features -->
  <!-- Section: Features v.1 -->
  <section class="text-center my-5">

    <!-- Section heading -->



  <!-- ================== write up sectiob =========== -->
  <div class="how-section1">
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="../../assets/app+pics/forum.png" class="rounded-circle img-fluid" alt=""/>
        </div>
        <div class="col-md-6">
            <h4>What is channel 1000?</h4>
                        <h4 class="subheading">an open platform that harnesses user’s resources
                           </h4>
        <p class="text-muted">Channel1000 is a potent community tool and a vehicle that will
           contribute to driving away poverty in the society. This we intend to achieve by
           pulling resources together through a committed investor
           network as well as sharing profit made through other businesses we do with our subscribers</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>What we do</h4>
                        <h4 class="subheading"> Connect with us and begin doing great work.</h4>
                        <p class="text-muted">We do the heavy lifting of financial burden,
                          allowing the user/subscriber to focus on decision making and running
                           efficient investment operations</p>
        </div>
        <div class="col-md-6 how-img">
            <img src="../../assets//app+pics/services.png"
             class="rounded-circle img-fluid" alt=""/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 how-img">
             <img src="../../assets/app+pics/subscribe.png"
             class="rounded-circle img-fluid" alt=""/>
        </div>
        <div class="col-md-6">
            <h4>Subscription</h4>
                        <h4 class="subheading">Why subscribers?</h4>
                        <p class="text-muted">With your N1,000 subscription, you keep getting multiples
                           of fund into your account from the profit we make through other businesses we do. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Benefits</h4>
                        <h4 class="subheading">Here are the four beneficial stages for our investors</h4>
                        <p class="text-muted">All invoices and payments happen through channel1000. Count on a simple and streamlined process.
                            Hourly and fixed-price projects. For hourly work, submit timesheets through GetLance. For fixed-price jobs,
                             set milestones and funds are released via GetLance escrow features.
                            Multiple payment options.</p>
        </div>
        <div class="col-md-6 how-img">
            <img src="../../assets/app+pics/benefits.png" class="rounded-circle img-fluid" alt=""/>
        </div>
    </div>
</div>

  <!--============================ jquery counter ====================== -->
  <app-counter></app-counter>
  <!--============================ jquery counter ====================== -->

  <!-- Section: Magazine v.3 -->
<section class="magazine-section my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Invest in the world's most popular assets</h2>
  <!-- Section description -->
  <p class="text-center text-dark w-responsive mx-auto mb-5">With your N1,000 subscription, you keep getting multiples of fund into your account from
    the profit we make through other businesses we do. </p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-5">

      <!-- Featured news -->
      <div class="single-news mb-3">

        <!-- Image -->
        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="img-fluid" src="../../assets/1000.jpg" width="315" height="300" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-12">

            <!-- Badge -->
            <a href="#!"><span class="badge pink text-white"><i class="fas fa-camera pr-2" aria-hidden="true"></i>Payment</span></a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a class="font-weight-bold">One time payment </a>
          </div>
          <a><i class="fas fa-angle-double-right"></i></a>
        </div>

      </div>
      <!-- Featured news -->

      <!-- Small news -->
      <div class="single-news mb-3">

        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a>24 Food Swaps That Slash Calories.</a>
          </div>
          <a><i class="fas fa-angle-double-right"></i></a>
        </div>

      </div>
      <!-- Small news -->

      <!-- Small news -->
      <div class="single-news mb-3">

        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a>How to Make a Beet Cocktail?</a>
          </div>
          <a><i class="fas fa-angle-double-right"></i></a>
        </div>

      </div>
      <!-- Small news -->

      <!-- Small news -->
      <div class="single-news mb-3">

        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a>8 Sneaky Reasons You're Always Hungry.</a>
          </div>
          <a><i class="fas fa-angle-double-right"></i></a>
        </div>

      </div>
      <!-- Small news -->

      <!-- Small news -->
      <div class="single-news">

        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0">
            <a>5 Pressure Cooker Recipes You Need to Try.</a>
          </div>
          <a><i class="fas fa-angle-double-right"></i></a>
        </div>

      </div>
      <!-- Small news -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-md-0 mb-5">

      <!-- Featured news -->
      <div class="single-news mb-3">

        <!-- Image -->
        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="img-fluid" src="../../assets//3D-Cube.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-12">

            <!-- Badge -->
            <a href="#!"><span class="badge deep-orange text-white"><i class="fas fa-plane pr-2" aria-hidden="true"></i>Marketing</span></a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a class="font-weight-bold">Marketing and Socials</a>
          </div>
          <a><i class="fas fa-angle-double-right"></i></a>
        </div>

      </div>
      <!-- Featured news -->

      <!-- Small news -->
      <div class="single-news mb-3">

        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a>Trends in the blogosphere for 2019.</a>
          </div>
          <a><i class="fas fa-angle-double-right"></i></a>
        </div>

      </div>
      <!-- Small news -->

      <!-- Small news -->
      <div class="single-news mb-3">

        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a>Share on facebook?</a>
          </div>
          <a><i class="fas fa-angle-double-right"></i></a>
        </div>

      </div>
      <!-- Small news -->

      <!-- Small news -->
      <div class="single-news mb-3">

        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a>What camera is worth taking for holidays?</a>
          </div>
          <a><i class="fas fa-angle-double-right"></i></a>
        </div>

      </div>
      <!-- Small news -->

      <!-- Small news -->
      <div class="single-news">

        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0">
            <a>Why should you visit Lisbon?</a>
          </div>
          <a><i class="fas fa-angle-double-right"></i></a>
        </div>

      </div>
      <!-- Small news -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-0">

      <!-- Featured news -->
      <div class="single-news mb-3">

        <!-- Image -->
        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="img-fluid" src="../../assets/profit.jpg" width="300" height="100" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-12">

            <!-- Badge -->
            <a href="#!"><span class="badge success-color text-white"><i class="fas fa-leaf pr-2" aria-hidden="true"></i>Earnings</span></a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a class="font-weight-bold"> Automatic returns</a>
          </div>
          <a><i class="fas fa-angle-double-right"></i></a>
        </div>

      </div>
      <!-- Featured news -->

      <!-- Small news -->
      <div class="single-news mb-3">

        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a>How to recognize the footsteps of wild animals?</a>
          </div>
          <a><i class="fas fa-angle-double-right"></i></a>
        </div>

      </div>
      <!-- Small news -->

      <!-- Small news -->
      <div class="single-news mb-3">

        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a>National Parks in Poland.</a>
          </div>
          <a><i class="fas fa-angle-double-right"></i></a>
        </div>

      </div>
      <!-- Small news -->

      <!-- Small news -->
      <div class="single-news mb-3">

        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0 mb-3">
            <a>Traveling without littering the planet.</a>
          </div>
          <a><i class="fas fa-angle-double-right"></i></a>
        </div>

      </div>
      <!-- Small news -->

      <!-- Small news -->
      <div class="single-news">

        <!-- Title -->
        <div class="d-flex justify-content-between">
          <div class="col-11 text-truncate pl-0">
            <a>How to protect rainforests?</a>
          </div>
          <a><i class="fas fa-angle-double-right"></i></a>
        </div>

      </div>
      <!-- Small news -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Magazine v.3 -->

<!-- counter componet -->
