<!-- navbar -->
<app-navbar></app-navbar>


<app-header></app-header>

    <!--  banner -->
    <div class="jumbotron  message text-center  grey lighten-4 text-dark mt-0 ">
        <h3 class=" font-weight-bold">Invest in the world's most popular assets</h3>
        <p class="font-weight-bold">With your N1,000 subscription, you keep getting multiples of fund into your account from
            the profit we make through other businesses we do.</p>
      </div>
    <!-- end banner -->

  <!-- Section: Features v.1 -->
  <section class="text-center my-5">

  <!-- ================== write up sectiob =========== -->
  <div class="how-section1">
    <div class="row">

        <!-- col- pic -->
        <div class="col-md-6">
            <img src="../../assets/betterment_comfort.jpg" class="img-fluid" alt=""/>
        </div>
        <!-- col write up -->
        <div class="col-md-6  ">
            <h4>What is channel 1000?</h4>
                        <h4 class="subheading"> a potent community tool
                            and vehicle that will contribute to driving poverty away from this society
                           </h4>
        <p class="text-dark font-weight-bold">The smatter you subscribe, the
            more comfortable you would be as Channel1000
            intends to pull resources
            together through a committed network
            while sharing the profit made from other business we do
             </p>
        </div>
    </div>


        <div class="row ">
            <div class="col-md-6">
                <h4 class="display-5">What we do</h4>
                <h4 class="subheading"> Connect with us and begin doing great work.</h4>
                <ol>
                  <li> We help you gain financial freedom, </li>
                  <li>Secure a better future for your business</li>
                  <li>Secure a better future for your business</li>
                </ol>
            </div>
            <div class="col-md-6 how-img">
                <img src="../../assets/phone_summary_flat.png"
                 class=" img-fluid" alt=""/>
            </div>
        </div>



          <!-- info -->
    <div class="row">
        <div class="col-md-6 how-img">
             <img src="../../assets/app+pics/subscribe.png"
             class="rounded-circle img-fluid" alt=""/>
        </div>
        <div class="col-md-6">
            <h4>Subscription</h4>
                        <h4 class="subheading">Why subscribers?</h4>
                        <p class="text-muted">With your N1,000 subscription,
                          you keep getting multiples of fund into your account from the profit
                          we make through other businesses we do. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Benefits</h4>
                        <h4 class="subheading">Here are the four beneficial stages for our investors</h4>
                        <div class="text-muted">
                          <ul>
                            <li>We keep you in a financial comfort zone.</li>
                            <li>We ensure you do not lack</li>
                            <li>We pay when you place an order</li>
                          </ul>
                        </div>
        </div>
        <div class="col-md-6 how-img">
            <img src="../../assets/app+pics/benefits.png" class="rounded-circle img-fluid" alt=""/>
        </div>
    </div>
</div>


       <!--  banner -->
       <div class="jumbotron  grey lighten-4 jumbotron text-white text-white mt-0">
          <div class="row">
            <div class="col md-6 ">
                <h4 class="font-weight-bold mt-5"> Build a successful future with channel1000</h4>
                <p class="font-weight-bold text-dark">The road that leads to financial freedom is channel1000
                    For this reason, we encourage you to
                    subscribe for even your unborn child and testify in future.
                    </p>
            </div>
            <div class="col md-6">
                <img src="../../assets/app+pics/girls.png" class=" img-fluid" alt=""/>
            </div>
          </div>
        </div>
      <!-- end banner -->

  <!--============================ jquery counter ====================== -->
  <!-- <app-counter></app-counter> -->
  <!--============================ jquery counter ====================== -->


  <div class="row  grey lighten-4 ">
      <div class="col-md-12  grey lighten-4">
        <div class="panel-group img-fluid  grey lighten-4" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default ">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title  grey lighten-4">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Why should i subscribe?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
               <ol>
                 <li>This is the only platform
                   that demands only a token of N1000 in exchange for stream of income into your bank account</li>
                   <li>
                      This is the only platform that works for you while you relax and make good use of your time.
                   </li>
               </ol>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Where you may need help
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <p>We have an enquiry form where you can log on your complaint and get an immediate resolution</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Account Scurity and Privacy
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                <p>We take the security of our customers’ details seriously hence employ
                  strong browser encryption security data storage to ensure your details are well protected.  </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  What happens if I wish to update my account details?
                </a>
              </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                  At what point can I withdraw?
                </a>
              </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
              </div>
            </div>
          </div>



        </div>
      </div><!--- END COL -->
    </div><!--- END ROW -->
    <app-footer></app-footer>
