<form #signup_form="ngForm" (submit)="signup_form.valid && onSubmit(signup_form)">
  <div class="form-group">
    <!-- <small>Fullname</small> -->
    <input class="au-input au-input--full" type="text" #fullname="ngModel"
      [(ngModel)]="userService.selectedUser.fullname" required name="fullname" placeholder="Fullname" />
  </div>
  <div *ngIf="signup_form.submitted && !fullname.valid" class=" text-danger text-center">
    <small>fullname is required</small>
  </div>

  <div class="form-group">
    <!-- <small>Username</small> -->
    <input class="au-input au-input--full" type="text" #username="ngModel"
      [(ngModel)]="userService.selectedUser.username" required name="username" placeholder="Username" />
  </div>
  <div *ngIf="signup_form.submitted && !username.valid" class=" text-danger text-center">
    <small>username is required</small>
  </div>

  <div class="form-group">
    <!-- <small>Email Address</small> -->
    <input class="au-input au-input--full" type="email" #email="ngModel" [(ngModel)]="userService.selectedUser.email"
      required [pattern]="emailRegex" name="email" placeholder="Email Address" />
  </div>
  <div *ngIf="signup_form.submitted && email.errors" class=" text-danger text-center">
    <small *ngIf="email?.errors.required">email is required</small>
    <small *ngIf="email?.errors.pattern">email must be valid.</small>
  </div>

  <div class="form-group">
    <!-- <small>Password</small> -->
    <input class="au-input au-input--full" type="password" name="password" required #password="ngModel" minlength="6"
      [(ngModel)]="userService.selectedUser.password" placeholder="Password" />
  </div>
  <div *ngIf="signup_form.submitted && password.errors" class=" text-danger text-center">
    <small *ngIf="password?.errors.required">password is required</small>
    <small *ngIf="password?.errors.minlength">password must be at least 6
    </small>
  </div>

  <div class="form-group">
    <!-- <small>Password</small> -->
    <input class="au-input au-input--full" type="password" name="passwordConf" required #passwordConf="ngModel"
      minlength="6" [(ngModel)]="model.confirmPassword" placeholder="Confirm password" />
  </div>
  <div *ngIf=" passwordConf.touched && password.value !== model.confirmPassword && passwordConf.dirty"
    class=" text-danger text-center">
    <small class="font-weight-bold">password not matched!</small>
  </div>

  <div class="login-checkbox">
    <small class="text-dark">
      by creating account you Agree to the terms and
      <a [routerLink]="['/policy']"> policy</a>
    </small>
  </div>
  <button [disabled]="password.value !== model.confirmPassword" class="au-btn au-btn--block primary-color-dark p-b-20"
    type="submit">
    <i class="fa fa-spinner fa-spin" *ngIf="showBtnLoading"></i> register
  </button>
</form>

<!-- reg form  blog-->
<form>
  <div>
    <input name="fullname" type="text" placeholder="fullname"  required>
  </div>


  <div>
    <input  type="text"  required name="username" placeholder="Username" />
  </div>


  <div >
    <input  type="email"  required name="email" placeholder="Email Address" />
  </div>


  <div >
    <input  type="password" name="password" required  minlength="6" placeholder="Password" />
  </div>

  <div >
    <input  type="password" name="passwordConfirm" required   minlength="6"  placeholder="Confirm password" />
  </div>

  <button type="submit">register </button>
</form>

