<app-logedin-nav></app-logedin-nav>

<ion-content class="ion-padding">

    <h4 class="text-center font-weight-bold p-1"> COMPLETED USERS</h4>

  


<!-- end mat table -->

<div class="table-responsive" >
  <table class="table table-striped w-auto">
  
      <thead class="bg-dark ">
        <tr>
          <th class="text-white p-2">#</th>
          <th class="text-white p-2">EMAIL</th>
          <th class="text-white p-2">USERNAME</th>
          <th class="text-white p-2">PACKAGE</th>
          <th class="text-white p-2">EARNINGS</th>
          <th class="text-white p-2">BONUS</th>
          <th class="text-white p-2">CASHOUT</th>
          <th class="text-white p-2">ACTION</th>
          
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr class="table-success"  *ngFor="let user of completedUsers; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ user.email }} </td>
          <td>{{ user.username}}</td>
          <td>{{ user.package}}</td>
          <td>{{ user.earnings | currency:'₦'}}</td>
          <td>{{ user.bonus | currency:'₦'}}</td>
          <td>{{ user.cashout | currency:'₦'}}</td>
          <td>
           <ion-icon size="large" (click)="confirmDelete(user)" name="trash" color="danger"></ion-icon>
             </td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
  </div>



<!-- end -->
 


  <!-- loader -->
  <div *ngIf="loading" class="spinner-container">
    <div class="loader">
    </div>
  </div>

</ion-content>

