<app-navbar></app-navbar>

<ion-content>

<div data-react-app="MarketingDataPlaceholders"></div>
<div data-react-portal="MarketingDataPlaceholders.MarketingDataPlaceholders"></div>

<div class="sc-SiteLayout sc-SiteLayout--constrained sc-backgroundColor-white" data-js-hook="SiteLayout">

  <main id="main" class="sc-SiteLayout-main sc-SiteLayout-main--overflowVisible">

    <div
      class="sc-SectionLayout sc-p-t--l sc-p-b--0 sc-p-b-md--xl sc-backgroundColor-grey-10 sc-SectionBackgroundImage JiyoungPortrait-md sc-SectionBackgroundImage--centerTop"
      data-behavior-hero-div>
      <div class="sc-SectionLayout-contentWrapper u-zeroZIndex">
        <div class="sc-ContentLayout ">
          <div class="sc-ContentSlot u-col-12 u-col-6@md u-textCenter u-md-textLeft">
            <div class="sc-p-v-md--xl">
              <hgroup class="BigHero sc-p-t-lg--l sc-m-b--0 sc-p-b--0 sc-p-b-md--m">
                <h1 class="u-heading--h1">Envision a different kind of Investment</h1>
                <p class="sc-p-t--m sc-p-b--s u-heading--static--18 u-col-12 u-col-10@md">
                  Channel1000 was established in other to combat the menace of unemployment and poverty in the country. This conception was instigated owing to a close view of Nigerian education 
                  system vis-a-vis the rate at which universities push these students into Labour market.
                </p>

                  

                <div class="panel panel-default ">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title  grey lighten-4">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                      <ion-button   fill="outline" shape="round">
                        more
                      </ion-button>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <p>An analytical view of our education system revealed that Nigeria produces 
                          about 300,000 graduates yearly. Further analysis shows that at absorption rate of 20 graduates in a company, 
                          it would take about 15,000 companies yearly to have these graduates off the street.
                          On the contrary, these graduates increase the size of labour 
                          market on yearly basis as the system has no jobs for them. 
                        </p>
                        <p>It was on this note that Channel1000 while having a road map to channel1000 small 
                          businesses into the system on yearly basis has decided to create a platform where small
                           investment is continually increased for our customers through a cash back sales strategy. </p>
                    </div>
                  </div>
                </div>

                <!-- end -->

              </hgroup>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- more -->
    <ion-card class="text-center">
      <ion-card-header>
        <ion-card-title>As a dedicated marketer, the possibility of making up 
          to N500,000 monthly is assured. </ion-card-title>
      </ion-card-header>
      <ion-card-subtitle class="p-5">
       Note! The aforementioned marketing will not require you to 
         sign a contract and mortgage yourself in any company; rather you 
         stay at the convenience of your home and achieve this mile stone,
         This is called social media marketing.
      </ion-card-subtitle>
    </ion-card>

    <!-- <div class="m-5">
      <h1 class="display-5 text-center text-danger">This is called social media marketing.</h1>

    </div> -->


  <div class="how-section1 ">
  
    <div class="row p-5">
    <!-- col- pic -->
    <div class="col-md-6">
      <img src="../../assets/img/people_big_smile.jpg" class="img-fluid" alt="" />
    </div>
    <div class="col-md-6  text-center">
      <h4 class="font-weight-bold "> OUR
      MISSION</h4>
      <p class="text-dark font-weight-bold">
        We wish to create an institution where unemployed Nigerians 
        function independent of white collar jobs. This we intend to achieve
         by creating business solutions that will accommodate every need
          entertained by the unemployed. 
      </p>
    </div>
  </div>



  <div class="row p-5">
  <div class="col-md-6 text-center">
    <h4 class="font-weight-bold "> OUR  VISION</h4>
    <p class="text-dark font-weight-bold">
     To create jobless free Nigeria
</p>
  </div>
  <div class="col-md-6  ">
    <img src="../../assets/img/graduate.jpeg" class="img-fluid" alt="" />
    </div>
</div>
   

<div class="row p-5">
  <!-- col- pic -->
  <div class="col-md-6">
    <img src="../../assets/img/girls-with-laptop.jpg" class="img-fluid" alt="" />
  </div>
  <div class="col-md-6 ">
    <h4 class="font-weight-bold ">  WHAT MOTIVATES US</h4>
    <ul>
      <li class="text-dark font-weight-bold"><p>Power of online marketing</p></li>
      <li class="text-dark font-weight-bold"><p>Investing less in companies and earning more</p></li>
      <li class="text-dark font-weight-bold"><p>Sales of FCMG</p></li>
    </ul>
    
  </div>
</div>


  </div>

  </main>

  <app-footer></app-footer>
</div>

</ion-content>
