<app-logedin-nav></app-logedin-nav>

<ion-content>



  <!-- table -->
  <table class="table-responsive text-nowrap table blue-gradient text-white">
    <thead >
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">package</th>
        <th scope="col">Date</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody  *ngFor="let item of inActiveInvestors; index as i">
      <tr class="panel">
        <th scope="row">{{i+1}} </th>
        <td>{{item.email}}  </td>
        <td>{{item.package}}</td>
        <td>{{item.createdAt | date:'medium'}} </td>
        <td>
          <ion-icon color="danger" name="trash"size="large" (click)="deleteConfirm(item._id,item.username)" ></ion-icon>
        </td>
      </tr>

    </tbody>
  </table>



  <!-- loader -->
  <div *ngIf="loading" class="spinner-container">
    <div class="loader">
    </div>
  </div>

</ion-content>
