
<app-navbar></app-navbar>
<ion-content>
  
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">

<div class="jumbotron p-5 bg-dark text-white ">

  <div class="view overlay rounded-top waves-light" mdbWavesEffect>
    <a >
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center mb-3">

    <!-- Title -->
    <h6 class="card-title h3 my-4 "><strong>QUESTIONS?
       WE'RE HERE TO HELP
    </strong></h6>
 
  </div>

</div>
<section class="my-5">

    <p class="text-center w-responsive mx-auto font-weight-bold mb-5">We are available seven days a week to
      help answer questions about your account.</p>


    <div class="">

      <div class="col-md-9 mb-md-0 mb-5">

        <form>

          <div class="">
            <div class="">
              <div class="md-form mb-0">
                <input type="text" id="contact-name" class="form-control">
                <label for="contact-name" class="">Your name</label>
              </div>
            </div>

            <div class="">
              <div class="md-form mb-0">
                <input type="text" id="contact-email" class="form-control">
                <label for="contact-email" class="">Your email</label>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-12">
              <div class="md-form mb-0">
                <input type="text" id="contact-Subject" class="form-control">
                <label for="contact-Subject" class="">Subject</label>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-12">
              <div class="md-form">
                <textarea id="contact-message" class="form-control md-textarea" rows="3"></textarea>
                <label for="contact-message">Your message</label>
              </div>
            </div>

          </div>

        </form>

        <div class="ion-text-center">
          <ion-button type="submit" shape="round" >send</ion-button>

      </div>

      </div>

      <div class="col-md-3 text-center">
        <ul class="list-unstyled mb-0">
          <li>
            <i class="fas fa-map-marker-alt fa-2x blue-text"></i>
            <p>17 Chukwuka St Abakpa Enugu State, Nigeria</p>
          </li>
          <li>
            <i class="fas fa-phone fa-2x mt-4 blue-text"></i>
            <p>+ 2348097439900</p>
          </li>
          <li>
            <i class="fas fa-envelope fa-2x mt-4 blue-text"></i>
            <p class="mb-0">support@channel-1000.com</p>
          </li>
        </ul>
      </div>

    </div>

  </section>

      </ion-col>
    </ion-row>
  </ion-grid>


  <app-footer></app-footer>

</ion-content>
