<app-logedin-nav></app-logedin-nav>


<ion-content>
  <div class="main-content mb-5">
    <div class="section__content section__content--p30">
        <div class="container-fluid  text-white">
            <div class="row">
                <div class="col-md-12 text-center text-white">
                    <div class="overview-wrap">
                        <h4 class="title-1 font-weight-bold"> Payment on the go</h4>
                      <img src="../../../assets/atm_cards2.jpg"   alt="">
                    </div>
                </div>
            </div>


            <!-- ######### cards ##############3 -->

            <!-- payment cards -->
            <!-- details card section starts from here -->

<!-- details card section starts from here -->
            <!-- payment cards ends -->
<div class="text-center text-info justify-content-center d-flex">
Click the button below to make payment </div>
<div  (click)="paynow()">


<div class="example-button-row justify-content-center d-flex">
<angular4-paystack *ngIf="userService.getPackage() == 'PACKAGE1000'"
 class="btn btn-sm display-block font"
[key]="'pk_test_df7b7b6f7fd624a2a98103f1d1ffd1aaf0cd17c7'"
[email]="(emailInput)"
amount="100000"
[ref]="(refInput)"
[channels]="['card']"
[class]="'btn btn-success'"
(close)="paymentCancel()"
(callback)="paymentDone($event)"
><h6 class="text-white">PAY ₦1000 NOW</h6></angular4-paystack>

<angular4-paystack *ngIf="userService.getPackage() == 'PACKAGE2000'"
 class="btn btn-sm display-block font"
[key]="'pk_test_df7b7b6f7fd624a2a98103f1d1ffd1aaf0cd17c7'"
[email]="(emailInput)"
amount="200000"
[ref]="(refInput)"
[channels]="['card']"
[class]="'btn btn-success'"
(close)="paymentCancel()"
(callback)="paymentDone($event)"
><h6 class="text-white">PAY ₦2000 NOW</h6></angular4-paystack>

<angular4-paystack *ngIf="userService.getPackage() == 'PACKAGE5000'"
 class="btn btn-sm display-block font"
[key]="'pk_test_df7b7b6f7fd624a2a98103f1d1ffd1aaf0cd17c7'"
[email]="(emailInput)"
amount="500000"
[ref]="(refInput)"
[channels]="['card']"
[class]="'btn btn-success'"
(close)="paymentCancel()"
(callback)="paymentDone($event)"
><h6 class="text-white">PAY ₦5000 NOW</h6></angular4-paystack>

<angular4-paystack *ngIf="userService.getPackage() == 'PACKAGE10000'"
 class="btn btn-sm display-block font"
[key]="'pk_test_df7b7b6f7fd624a2a98103f1d1ffd1aaf0cd17c7'"
[email]="(emailInput)"
amount="1000000"
[ref]="(refInput)"
[channels]="['card']"
[class]="'btn btn-success'"
(close)="paymentCancel()"
(callback)="paymentDone($event)"
><h6 class="text-white">PAY ₦10000 NOW</h6></angular4-paystack>
</div>
</div>
<br>



            <!-- ######### cards ##############3 -->

            <section class="details-card  text-white">
              <div class="container">
                  <div class="row">
                      <div class="col-md-4">
                          <div class="card-content">
                              <div class="card-desc">
                                  <h3>₦ {{accountDetails?.investment | number}} </h3>
                                  <p>investment </p>

                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="card-content">
                              <div class="card-desc">
                                  <h3>₦ {{accountDetails?.earnings | number}} </h3>
                                  <p> profit</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="card-content">
                              <div class="card-desc">
                                  <h3>₦ {{accountDetails?.cashout | number}} </h3>
                                    <p>cashout </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </section>
            <!--  payment history -->
            <div class="row">
              <div class="col-lg-9">
                  <h2 class="title-1 m-b-25">Payment history</h2>
                  <div class="table-responsive table--no-card m-b-40">
                      <table class="table table-borderless table-striped table-earning"
                      >
                          <thead>
                              <tr>
                                  <th> #</th>
                                  <th>Amount</th>
                                  <th>Status</th>
                                  <th>reference</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr  *ngFor="let item of history">
                                  <td  > <i class="fa fa-check" aria-hidden="true" style="color: green"></i></td>
                                  <td> {{item.amount | number}}</td>
                                  <td>{{item.status}} </td>
                                  <td>{{item.reference}}</td>

                              </tr>

                          </tbody>
                      </table>
                  </div>
              </div>

          </div>
            <!-- end of payment history -->

        </div>
    </div>
</div>
</ion-content>

