
<app-logedin-nav></app-logedin-nav>

<ion-content class="ion-padding">

    <div class="table-responsive" >
        <table class="table table-striped w-auto">
          <!-- <div class="row d-flex justify-content-center">
            <div class="col" *ngIf="loading">
                <flash-messages></flash-messages>
                        <div class="loader"></div>
            </div>
          </div> -->
    
            <thead class="bg-dark ">
              <tr>
                <th class="text-white">#</th>
                <th class="text-white">User</th>
                <th class="text-white">Amount</th>
                <th class="text-white">Message</th>
                <th class="text-white">Ref</th>
                <th class="text-white">Status</th>
                <th class="text-white">Tranx</th>
                <th class="text-white">Date</th>
                <th class="text-white">Delete</th>
              </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->
            <tbody>
              <tr class="table-info"  *ngFor="let details of transactions; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ details.user }} </td>
                <td>{{ details.amount | currency:'₦'}}</td>
                <td>{{ details.message}}</td>
                <td>{{ details.reference}}</td>
                <td>{{ details.status}}</td>
                <td>{{ details.transaction }}</td>
                <td>{{ details.date |  date:'medium'  }}</td>
                <td>
                  <button style=" margin-left:2px" type="button"
                   class="btn btn-sm btn-danger" (click)="deleteTranx(details._id)">X</button>
                   </td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
        </div>
    


          <!-- loader -->
  <div *ngIf="loading" class="spinner-container">
    <div class="loader">
    </div>
  </div>

</ion-content>

