<app-navbar></app-navbar>
<div class="jumbotron text-center">
    <h2 class="display-4">What people says</h2>
  </div>

<section class="details-card">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                    </div>
                    <div class="card-desc">
                        <h6>Anonymous</h6>
                        <p>Channel100 completely changed my life. I literally spend
                          2-4 hours a day marketing their site on social media and I
                          come out with over $1,000 for the week. When I saw this site, I took
                           a risk because I believed that 2019 was my year! Now look at what god has done for me</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                    </div>
                    <div class="card-desc">
                        <h6>peter M.</h6>
                        <p>Thought this was a scam when I first saw it until my
                           friend started getting paid. I"m so happy I gave it another
                            chance. Now working from home!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                    </div>
                    <div class="card-desc">
                        <h6>Akinwumi A</h6>
                        <p>Tbh this site snapped. Lots of my friends
                          thought it was fake before I bought a BMW in cash lol.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- details card section starts from here -->

<div class="jumbotron text-center  info-color-dark text-white">
    <h3 class="display-4">Payment proof</h3>
    <p>Note: proofs are sent in by members.
        Send us a screenshot of your payments on Twitter for an extra $25.</p>
  </div>


  <!-- proof photos -->

  <section class="details-card">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="card-content">
                      <div class="card-img">
                          <img src="../../assets/payment_proof.jpg" alt="">
                      </div>

                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card-content">
                      <div class="card-img">
                          <img src="../../assets/payment_proof.jpg" alt="">
                      </div>

                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card-content">
                      <div class="card-img">
                          <img src="../../assets/payment_proof.jpg" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- details card section starts from here -->

