
<app-logedin-nav></app-logedin-nav>
      <!-- MAIN CONTENT-->


      <ion-content>
        <div class="main-content">
          <div class="section__content section__content--p30">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="overview-wrap">
                              <h4 class="title-1 font-weight-bold"> Cashout request</h4>

                          </div>
                      </div>
                  </div>


                  <!-- ######### cards ##############3 -->

                  <div class="row">
                    <div class="col-lg-9">
                        <h2 class="title-1 m-b-25">Users requested for cashout</h2>
                        <div class="table-responsive table--no-card m-b-40">
                            <table class="table table-borderless table-striped table-earning "
                            >
                                <thead>
                                    <tr>
                                        <th> Pay</th>
                                        <th>User</th>
                                        <th> Cashout</th>
                                        <th>Date</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let user of users_cashout; index as i">
                                        <th scope="row">{{ i + 1 }}
                                            <button (click)="payUser(user._id, user.username, user.cashout)"
                                            ><i class="fa fa-check-square"
                                           aria-hidden="true" style="font-size: 40px; color: rgb(248, 19, 172);"></i></button></th>
                                        <td> {{user.username}}</td>
                                        <td>#{{user.cashout | number}} </td>
                                        <td>{{user.date | date}}</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                  <!-- ######### cards ##############3 -->

              </div>
          </div>
      </div>
      </ion-content>
