
<app-logedin-nav></app-logedin-nav>
          <!-- MAIN CONTENT-->
      <ion-content>
      

      <ion-row class="ion-padding cashout"> 
          <ion-col size="6">
              <ion-card color="primary">
                <div class="card-desc">
                    <h3 class="text-center text-white "> {{account?.earnings | currency:'₦ '}} </h3>
                    <p class="text-center"> Total earnings</p>
                </div>
              </ion-card>
          </ion-col>

          <ion-col size="6">
              <ion-card>
                
                  <input type="number" name="cashout" id="cashout" placeholder="enter cashout amount"
                    [(ngModel)]="model.cashout"  #cashout="ngModel">
                   <!-- <input type="submit"  value="CASHOUT"> -->
                   <ion-button (click)="cashOut()" type="submit" expand="block" color="primary" shape="round">
                       cashout
                   </ion-button>
              </ion-card>
          </ion-col>
      </ion-row>

       <!-- loader -->
  <div *ngIf="loading" class="spinner-container">
    <div class="loader">
    </div>
  </div>


      <app-footer></app-footer>

      </ion-content>
