<app-logedin-nav></app-logedin-nav>

<ion-content class="ion-padding">
<h4 class="text-center font-weight-bold p-1"> ACTIVE CUSTOMERS</h4>

  <div >
  <ion-item color="darl">
    <mat-form-field>
      <!-- <mat-label class="ion-padding">filter </mat-label> -->
      <!-- <ion-label position="floating">filter</ion-label> -->
      <input matInput (keyup)="applyFilter($event)" placeholder="filter record">
    </mat-form-field>
  </ion-item>
  <div >
    <table class="table-responsive pl-5 text-center"  mat-table [dataSource]="dataSource"  >

      <ng-container matColumnDef="email">
        <th  mat-header-cell *matHeaderCellDef> EMAIL </th>
       
        <td  class="bg-white text-dark"  mat-cell *matCellDef="let element" > {{element.email}} </td>
      </ng-container>
  

      <ng-container matColumnDef="package">
        <th mat-header-cell *matHeaderCellDef> PACKAGE </th>
        <td  class="bg-white text-dark"  mat-cell *matCellDef="let element" > {{element.package}} </td>
      </ng-container>

      <ng-container matColumnDef="investment">
        <th mat-header-cell *matHeaderCellDef> INVESTMENT </th>
        <td  class="bg-white text-dark" mat-cell  *matCellDef="let element"> {{element.investment}} </td>
      </ng-container>
  
      <ng-container matColumnDef="earnings">
          <th mat-header-cell *matHeaderCellDef > EARNING </th>
          <td  class="bg-white text-dark" mat-cell *matCellDef="let element" > {{element.earnings |currency:'₦'}}
          </td>
      </ng-container>
  
      <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef > DATE </th>
          <td  class="bg-white text-dark" mat-cell *matCellDef="let element" > {{element.createdAt |date :"MMM, d, y"}}
          </td>
      </ng-container>
  
      <ng-container matColumnDef="downline">
          <th mat-header-cell *matHeaderCellDef > DOWNLINE </th>
          <td  class="bg-white text-dark" mat-cell *matCellDef="let element" >  {{element.count}}
          </td>
      </ng-container>

   
  
      <tr  mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
      <tr    mat-row *matRowDef="let row; columns: displayedColumns; let even=even;"
      tappable   [ngClass]="{gray: even}"> </tr>
    </table>
  </div>
  
   <ion-item >
    <mat-paginator [pageSizeOptions]="[ 10, 20, 50]" showFirstLastButtons></mat-paginator>
   </ion-item>
  </div>





<!-- end mat table -->

 


  <!-- loader -->
  <div *ngIf="loading" class="spinner-container">
    <div class="loader">
    </div>
  </div>

</ion-content>
