<ion-header>
    <ion-button color="light" (click)="closeModal()">
        <ion-icon size="large"  name="close"></ion-icon>
    </ion-button>
  </ion-header>
  
  <ion-content class="ion-padding">
    
  
     
    <div class="ion-text-center">
      <h3>LOST PASSWORD</h3>
       
    </div>
  
  <div class="center container">
    <form *ngIf="!showOtpSection"  #confirmMail="ngForm" name="form" (keydown.enter)="confirmMail.valid && checkMail()"
    (submit)="confirmMail.valid && checkMail()">
    <div *ngIf="!showPasswordField">
     
          <div *ngIf="loading"><ion-progress-bar type="indeterminate"></ion-progress-bar></div>
  
           <ion-item class="ion-margin-bottom"  color="light">
               <ion-label color="dark"  position="floating">Email</ion-label>
               <ion-input  type="email" #email name="email" clearInput [(ngModel)]="model.userMail"
                 autocomplete="off"  minlength="11"  required="true"  ></ion-input>
           </ion-item>
         <div class="myButton md-button "  #submitBtn>
           <button mat-raised-button  [disabled]="loading"   type="submit" color="success" 
           >CONFIRM</button>
       </div>
      </div>
         </form> 
        </div>
  
  
        <!--  otp form -->
        <div class="center ">
         <form *ngIf="showOtpSection"   #confirmMail="ngForm" name="form"  (submit)="confirmMail.valid && submitOtp()">
          <small class="ion-text-center">check your inbox and enter the OTP</small>
          <ion-item *ngIf="showOtpSection" class="ion-margin-bottom"  color="light">
              <ion-label color="dark"  position="floating">Otp</ion-label>
              <ion-input  type="number" #otp name="otp" clearInput [(ngModel)]="model.otp"
                autocomplete="off"  minlength="11"  required="true"  ></ion-input>
          </ion-item>
  
          <div  class="myButton md-button "  #submitBtn>
            <button mat-raised-button  [disabled]="loading"   type="submit" color="success" 
            >SUBMIT OTP</button>
        </div>
         </form>
        </div>
        
  
  
        <!-- password form -->
        <div class="center ">
        <form *ngIf="showPasswordField"  #newPassword="ngForm" name="newPassword" (submit)="newPassword.valid && submitNewpassword()">
          <ion-item color="light">
            <ion-label  position="floating">new password</ion-label>
               <ion-input  type="password" input #mypassword name="password" minlength="6"
               [(ngModel)]="model.password"  required="true">
               </ion-input>
            </ion-item>
  
        <ion-item color="light">
            <ion-label  position="floating">confirm password</ion-label>
               <ion-input  type="password" input #conf_password name="conf_password" minlength="6"
                required="true">
               </ion-input>
             </ion-item>
             <small *ngIf="mypassword.value !== conf_password.value" class="ion-text-center"> password not match</small>
  
      <div class="myButton md-button "  #submitBtn>
        <button mat-raised-button  [disabled]="loading || mypassword.value !== conf_password.value" 
          type="submit" color="success" 
        >submit</button>
    </div>
        </form>
      </div>
  
 
  <!-- loader -->
  <div *ngIf="loading" class="spinner-container">
    <div class="loader">
    </div>
  </div>

  </ion-content>
  