<div class="container" >
  <div class="row">
      <div id="mySidenav" class="sidenav " style="margin-top: 50px; ">
<a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
<a  class="text-white  indigo"> <strong>channel 1000</strong> </a>
<a [routerLink]="['/dashboard']" class="text-white bg-info">My Dashboard</a>
<a [routerLink]="['/profile']" class="text-white bg-info" >Profile</a>
<a [routerLink]="['/user-transactions']" class="text-white bg-info" >Trasactions</a>

<!-- <a [routerLink]="['/admin/transaction']" class="bg-info text-white" >Admin panel</a> -->
</div>

<span style="font-size:30px;cursor:pointer;
color: white" (click)="openNav()"><button class="btn btn-info">☰</button> </span>
  </div>
</div>
