

<!-- Section: Blog v.2 -->
<section class="text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">OUR SERVICES</h2>
    <!-- Section description -->
    <!-- <p class="dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit
      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.</p> -->

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="img-fluid" src="../../assets//app+pics/sales.jfif" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Category -->
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3"><i class="fas fa-map pr-2"></i>Sales</h6>
        </a>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Sales of companies’ products</strong></h4>
        <!-- Post data -->
        <!-- Excerpt -->
        <p class="dark-grey-text"></p>
        <!-- Read more button -->
<button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>Read more</button>


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-md-0 mb-4">

        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="img-fluid" src="../../assets//app+pics/academic_research.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Category -->
        <a href="#!" class="deep-orange-text">
          <h6 class="font-weight-bold mb-3"><i class="fas fa-graduation-cap pr-2"></i>Education</h6>
        </a>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Academic Research</strong></h4>
        <!-- Post data -->
        <!-- Excerpt -->
        <p class="dark-grey-text">.</p>
        <!-- Read more button -->
<button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>Read more</button>


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-0">

        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="img-fluid" src="../../assets/app+pics/creation.jfif" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Category -->
        <a href="#!" class="blue-text">
          <h6 class="font-weight-bold mb-3"><i class="fas fa-fire pr-2"></i>Creation</h6>
        </a>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Content creation</strong></h4>
        <!-- Post data -->
        <!-- Excerpt -->
        <p class="dark-grey-text"></p>
        <!-- Read more button -->
  <button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>Read more</button>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>



  <!-- Section: Blog v.2 -->
<!-- ================ -->
<div class="container mb-5 mt-5">
    <div class="pricing card-deck flex-column flex-md-row mb-3">

        <div class="card card-pricing popular shadow text-center px-3 mb-4">
            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">stage 1</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="30"
                >₦<span class="price">1.2k</span><span class="h6 text-muted ml-2">/ return investment</span></h1>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                    <li>Up to 4 sub users</li>

                </ul>
                <a routerLink="/login" class="btn btn-primary mb-3">start now</a>
            </div>
        </div>

        <div class="card card-pricing popular shadow text-center px-3 mb-4">
            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">stage 2</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="30"
                >₦<span class="price">22.4k</span><span class="h6 text-muted ml-2">/  return investment</span></h1>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                    <li>Up to 4 sub users</li>

                </ul>
                <a routerLink="/login" class="btn btn-primary mb-3">start now</a>
            </div>
        </div>

        <div class="card card-pricing popular shadow text-center px-3 mb-4">
            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">stage 3</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="30"
                >₦<span class="price">245.8</span><span class="h6 text-muted ml-2">/  return investment</span></h1>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                    <li>Up to 4 sub users</li>

                </ul>
                <a routerLink="/login"  class="btn btn-primary mb-3">start now</a>
            </div>
        </div>

        <div class="card card-pricing popular shadow text-center px-3 mb-4">
            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">stage 4</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="30"
                >₦<span class="price">5.5 M</span><span class="h6 text-muted ml-2">/ return investment</span></h1>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                    <li>Up to sub users</li>

                </ul>
                <a routerLink="/login"  class="btn btn-primary mb-3">start now</a>
            </div>
        </div>



    </div>
</div>


