<app-navbar></app-navbar>

<ion-content>

<header>


  <div class="jumbotron p-0   grey lighten-4 text-dark">

    <!-- Card image -->
    <div class="view overlay rounded-top waves-light" mdbWavesEffect>
      <img src="../../assets/new_pics/service.jpg" class="img-fluid" alt="Sample image">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body text-center mb-3">

      <!-- Title -->
      <h3 class="card-title h3 my-4"><strong> Services</strong></h3>
      <!-- Text -->
      <p class="card-text py-2">DIG YOUR WELL BEFORE YOU GET THIRSTY
      </p>
      <!-- Button -->
      <a mdbBtn routerLink="/" rounded="true" class="primary-color-dark text-white mb-4" mdbWavesEffect>Home</a>

    </div>

  </div>
  <!-- Jumbotron -->

</header>
<!-- Main navigation -->
<!-- end intro -->
<!-- Section: Blog v.2 -->
<section class="text-center my-5">

  <!-- Section heading -->


  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4">
        <img class="img-fluid" src="../../assets//app+pics/sales.jfif" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>


      <!-- Post title -->
      <h4 class="font-weight-bold mb-3">Sales </h4>
      <!-- Post data -->
      <!-- Excerpt -->
      <p class="dark-grey-text">
        We do the heavy lifting of selling
        difficulty products in the market while
        applying all strategies
      </p>
      <!-- Read more button -->


    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-md-0 mb-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4">
        <img class="img-fluid" src="../../assets//app+pics/academic_research.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>


      <!-- Post title -->
      <h4 class="font-weight-bold mb-3"><strong>Academic Research</strong></h4>
      <!-- Post data -->
      <!-- Excerpt -->
      <p class="dark-grey-text">We conduct systematic investigation
        into problems where our intention is to identify facts or
        opinions that will assist in solving the problem or dealing with the situation
      </p>
      <!-- Read more button -->


    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-0">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4">
        <img class="img-fluid" src="../../assets/app+pics/creation.jfif" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      <a href="#!" class="blue-text">
        <h6 class="font-weight-bold mb-3"><i class="fas fa-fire pr-2"></i>Creation</h6>
      </a>
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3">Content creation</h4>
      <!-- Post data -->
      <!-- Excerpt -->
      <p class="dark-grey-text"> We assist our clients to extend their
        thought through speech, writing, video and delivering
        same on media pages or websites. Examples include; maintaining and
        updating website, blogging,
        photography, videography, online commentary, maintenance of social media accounts etc.
      </p>
      <!-- Read more button -->


    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>



<!-- Section: Blog v.2 -->
<!-- ================ -->
<div class="container mb-5 mt-5">
  <div class="pricing card-deck flex-column flex-md-row mb-3">

    <div class="card card-pricing popular shadow text-center px-3 mb-4">
      <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">stage 1</span>
      <div class="bg-transparent card-header pt-4 border-0">
        <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="30">₦<span
            class="price">1.2k</span><span class="h6 text-muted ml-2">/ return investment</span></h1>
      </div>
      <div class="card-body pt-0">
        <ul class="list-unstyled mb-4">
          <li>Up to 4 sub users</li>

        </ul>
        <a routerLink="/login" class="btn btn-primary mb-3">start now</a>
      </div>
    </div>

    <div class="card card-pricing popular shadow text-center px-3 mb-4">
      <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">stage 2</span>
      <div class="bg-transparent card-header pt-4 border-0">
        <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="30">₦<span
            class="price">22.4k</span><span class="h6 text-muted ml-2">/ return investment</span></h1>
      </div>
      <div class="card-body pt-0">
        <ul class="list-unstyled mb-4">
          <li>Up to 4 sub users</li>

        </ul>
        <a routerLink="/login" class="btn btn-primary mb-3">start now</a>
      </div>
    </div>

    <div class="card card-pricing popular shadow text-center px-3 mb-4">
      <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">stage 3</span>
      <div class="bg-transparent card-header pt-4 border-0">
        <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="30">₦<span
            class="price">245.8</span><span class="h6 text-muted ml-2">/ return investment</span></h1>
      </div>
      <div class="card-body pt-0">
        <ul class="list-unstyled mb-4">
          <li>Up to 4 sub users</li>

        </ul>
        <a routerLink="/login" class="btn btn-primary mb-3">start now</a>
      </div>
    </div>

    <div class="card card-pricing popular shadow text-center px-3 mb-4">
      <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">stage 4</span>
      <div class="bg-transparent card-header pt-4 border-0">
        <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="30">₦<span class="price">5.5
            M</span><span class="h6 text-muted ml-2">/ return investment</span></h1>
      </div>
      <div class="card-body pt-0">
        <ul class="list-unstyled mb-4">
          <li>Up to sub users</li>

        </ul>
        <a routerLink="/login" class="btn btn-primary mb-3">start now</a>
      </div>
    </div>



  </div>
</div>
<app-footer></app-footer>

</ion-content>
