<ion-tabs color="dark">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="list"></ion-icon>
      <ion-label>Dashboard</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admin-dash">
      <ion-icon name="map"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
