<app-navbar></app-navbar>

<div class="jumbotron text-center">
    <h2 class="display-4">WHY IT WORKS</h2>
    <hr class="my-4">

    <p>So why does this all work? Are you guys just giving away free money?
       We get asked that question alot. You see, we’ve been in the business
       for over 10 years now. When we first started, we used to pay our
       affiliates $0.10 for every referral they had. However, since then,
        our service has grown and the value of our referrals have grown.

        When you invite or refer a friend to our site, you are building
         the exposure of our site, which increases ad revenue. As our ad
         revenue and popularity increases, we pay you for the traffic
          you brought to our site ($10 for every referral). On top of
           this, members get paid by our partners through additional
           surveys and offers that they can complete to earn even more.

        In conclusion, we pay you with money we receive from our
         sponsors and our ad revenue. Ready to start earning? Get started now!</p>
  </div>

