<app-navbar></app-navbar>



<ion-content>

<!-- header -->
<div class="jumbotron p-0  grey lighten-4 text-dark">

  <!-- Card image -->
  <div class="view overlay rounded-top waves-light" mdbWavesEffect>
    <img src="../../assets/how-it-works.jpg" class="img-fluid" alt="Sample image">
    <a >
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center mb-3">

    <!-- Title -->
    <h3 class="card-title h3 my-4"><strong>HOW IT WORKS</strong></h3>
    <!-- Text -->
    <!-- Button -->
    <a mdbBtn  routerLink="/" rounded="true" class=" primary-color-dark text-white mb-4" mdbWavesEffect>Home</a>
  </div>
</div>
<!-- Jumbotron -->

<ion-grid class="ion-text-center">
  <ion-row>
    <ion-col>
      <div class="feature">
        <div class="feature-icon">
           <i class="fa fa-cogs" aria-hidden="true"></i>
        </div>
        <h5>Select your package</h5>
        <p>
            <a class="font-weight-bold" routerLink="/register">Register </a>
            register with either N1,000, N2,000, N5,000 or N10,000 depending on the product type.
        </p>
    </div>
    </ion-col>
    <ion-col>
      <div class="feature">
        <div class="feature-icon">
           <i class="fa fa-cogs" aria-hidden="true"></i>
        </div>
        <h5>The structure</h5>
        <p>
            The customer registers 2 persons below his or her down-line
        </p>
    </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="feature">
        <div class="feature-icon">
           <i class="fa fa-cogs" aria-hidden="true"></i>
        </div>
        <h5>Where the 2 down-lines were registered by a marketer; </h5>
        <p>
          For N1,000 option, the company pays N125 each for the two down lines
           (i.e. N250) to the marketer(s) that registered the down lines and takes
            N125 each for the two  down lines (i.e. N250) as service charge and
           pays the customer a bonus of N1,500. This gives a total of the N2,000.
        </p>

        <p>
          For N2,000 option, the company pays N250 each for the two down lines (i.e. N500)
          to the marketer(s) that registered the down lines and takes N250 each for the two
           down lines (i.e. N500)
          as service charge and pays the customer a bonus of N3,000. This gives a total of the N4,000.
        </p>
        <p>
          For N5,000 option, the company pays N500 each for the two down lines (i.e. N1000)
           to the marketer(s) that registered the down lines and takes N750 each for the two
            down lines (i.e. N1,500)
          as service charge and pays the customer a bonus of N7,500. This gives a total of the N10,000.
        </p>
        <p>
          For N10,000 option, the company pays N1,000 each for the two down lines
           (i.e. N2,000) to the marketer(s) that registered the down lines and takes
            N1,500 each for the two  down lines (i.e. N3,000) as service charge and pays
          the customer a bonus of N15,000. This gives a total of the N20,000.
        </p>
    </div>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- end header -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="feature">
                <div class="feature-icon">
                   <i class="fa fa-cogs" aria-hidden="true"></i>
                </div>
                <h5>Select your package</h5>
                <p>
                    <a class="font-weight-bold" routerLink="/register">Register </a>
                    register with either N1,000, N2,000, N5,000 or N10,000 depending on the product type.
                </p>
            </div>

            <div class="feature">
                <div class="feature-icon">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                </div>
                <h5>Structure </h5>
                <p>
                  The customer registers 2 persons below his or her down-line

                </p>
            </div>

            <div class="feature">
                <div class="feature-icon">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                </div>
                <h5>Funds Transfer</h5>
                <p>
                    You will need to send your payment details (like username, email, phone etc)
                    to the admin Via...
                </p>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="feature">
                <div class="feature-icon">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                </div>
                <h5>Risks and Uncertainties</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>

            <div class="feature">
                <div class="feature-icon">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                </div>
                <h5>Buyer and Seller</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>

            <div class="feature">
                <div class="feature-icon">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                </div>
                <h5>Marketing and Distribution of goods</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
</ion-content>
