<app-navbar></app-navbar>



<ion-content>


<!-- header -->
<div class="jumbotron p-0  grey lighten-4 text-dark">

  <!-- Card image -->
  <div class="view overlay rounded-top waves-light" mdbWavesEffect>
    <img src="../../assets/img/pexels-anna-shvets-3727464.jpg" class="img-fluid" alt="Sample image">
    <a >
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center mb-3">

    <!-- Title -->
    <h3 class="card-title h3 my-4"><strong>HOW IT WORKS</strong></h3>
    <!-- Text -->
    <!-- Button -->
    <ion-button routerLink="/">home</ion-button>
  </div>
</div>
<!-- Jumbotron -->

<!-- <ion-grid class="ion-text-center">
  <ion-row>
    <ion-col size="6">
      <div class="feature">
        <div class="feature-icon">
           <i class="fa fa-cogs" aria-hidden="true"></i>
        </div>
        <h5>Select your package</h5>
        <p>
            <a class="font-weight-bold" routerLink="/register">Register </a>
            register with either N1,000, N2,000, N5,000 or N10,000 depending on the product type.
        </p>
    </div>
    </ion-col>
    <ion-col size="6">
      <div class="feature">
        <div class="feature-icon">
           <i class="fa fa-cogs" aria-hidden="true"></i>
        </div>
        <h5>The structure</h5>
        <p>
            The customer registers 2 persons below his or her down-line
        </p>
    </div>
    </ion-col>
  </ion-row>
</ion-grid> -->


<ion-list>
  <ion-list-header></ion-list-header>
  <ion-item>
    <ion-icon slot="start" name="arrow-forward"></ion-icon>
    <div class="font-weight-bold">Log on to <a routerLink="/login">www.channel-1000.com</a> and register an account. </div>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="arrow-forward"></ion-icon>
    <div class="font-weight-bold"> A link is generated for you immediately after registration.  </div>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" name="arrow-forward"></ion-icon>
    <div class="font-weight-bold"> Initiate an online payment for any of the product packages  </div>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="arrow-forward"></ion-icon>
    <div class="font-weight-bold"> selected or pay to our corporate bank account with details below: </div>
   
  </ion-item>
  <ion-item class="ion-padding">
    <div class="ion-text-center col d-flex justify-content-center">
      <ion-card color="light" class="p-5">
        <ion-card-header>
          <ion-card-title>Channel1000 Multi Ventures</ion-card-title>
          <ion-card-title>1022597129</ion-card-title>
          <ion-card-title>United Bank for Africa (UBA)</ion-card-title>
        </ion-card-header>
      </ion-card>

    </div>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="arrow-forward"></ion-icon>
    <div class="font-weight-bold"> Text/whatsapp payment name, Email, Username, Amount and Package 
      to 08097439900 for the admin to get your account activated.  </div>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="arrow-forward"></ion-icon>
    <div class="font-weight-bold"> Text/Whatsapp the name of the product purchased with 
      the email you wish to receive it to 08097439900 </div>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="arrow-forward"></ion-icon>
    <div class="font-weight-bold"> Share your link on your social media handles (Whatsapp, Facebook, 
      twitter, instagram etc) to enable you get buyers for the company (optional). </div>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="arrow-forward"></ion-icon>
    <div class="font-weight-bold"> Get paid as soon as two other buyers queue under you.  </div>
  </ion-item>
</ion-list>

<app-footer></app-footer>
</ion-content>
