.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}


// ### card  user details
section{
  padding: 100px 0;
}
.details-card {
background: #ecf0f1;
}

.card-content {
background: #ffffff;
border: 4px;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-desc {
padding: 1.25rem;
}

.card-desc h3 {
color: #000000;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.card-desc p {
color: #747373;
  font-size: 14px;
font-weight: 400;
font-size: 1em;
line-height: 1.5;
margin: 0px;
margin-bottom: 20px;
padding: 0;
font-family: 'Raleway', sans-serif;
}


/* End card section */
.router-link-active{
  background-color: rgb(151, 193, 241);
}
li{
  font-weight: bold;
}
