




<!-- ================================================ -->
<div class="jumbotron text-center mdb-color warning-color-dark white-text mx-2 mb-5">

  <!-- Title -->
  <h2 class="card-title bold h2"> INVSTOR'S REGISTRATION</h2>
  <!-- Subtitle -->
  <p class="my-4 h3"> Your are about to become an <strong>investor</strong> on Channel1000</p>

  <!-- Grid row -->
  <div class="row d-flex justify-content-center">
    <!-- Grid column -->
    <div class="col-xl-7 pb-2">
      <p class="card-text">   In just minutes, you'll have the ability to earn stocks,
         options, mutual funds, ETFs, and bonds. </p>
    </div>

<!-- Default reg form -->

  <form class="text-center border border-light p-5"  #signup_form="ngForm"
  (submit)="signup_form.valid && onSubmit(signup_form)">
      <p class="h4 mb-4">INVESTOR</p>

      <!-- account selector -->
      <div class="input-group mb-3">
          <div class="input-group-append">
              <label class="input-group-text " for="inputGroupSelect">Account</label>
            </div>
          <select (change)="selectOption()" class="custom-select" name="select_role" id="select_role" required>
            <option selected  class="member" value="investor">INVESTOR </option>
            <option class="investor" value="marketer">MARKETER</option>
          </select>
        </div>

  <!-- Email -->
  <i class="fas fa-envelope prefix"></i>
  <input type="email" id="email" name="email"  #email="ngModel"
  [(ngModel)]="userService.selectedUser.email" required [pattern]="emailRegex"
   class="form-control mb-4" placeholder="E-mail" autocapitalize="none">
   <div *ngIf="signup_form.submitted && email.errors" class="bg-danger text-white text-center">
      <label *ngIf="email?.errors.required" >email is required</label>
      <label *ngIf="email?.errors.pattern" >email must be valid.</label>
    </div>

              <!-- firstname -->
      <i class="fa fa-user fa" aria-hidden="true"></i>
  <input type="text" id="firstname" name="fullname"  #fullname="ngModel"
  [(ngModel)]="userService.selectedUser.fullname" required
   class="form-control mb-4" placeholder="Fullname" autocapitalize="none">
   <div *ngIf="signup_form.submitted && !fullname.valid"  class="bg-danger text-white text-center">
      <label >fullname is required</label>
    </div>

              <!-- number -->
      <i class="fa fa-phone square " aria-hidden="true"></i>
  <input type="text" id="username" name="username"  #username="ngModel"
  [(ngModel)]="userService.selectedUser.username" required
   class="form-control mb-4" placeholder="Username" autocapitalize="none">
   <div *ngIf="signup_form.submitted && !username.valid"  class="bg-danger text-white text-center">
      <label >username is required</label>
    </div>

   <!-- password -->
   <i class="fas fa-lock prefix"></i>
  <input type="password"   [(ngModel)]="userService.selectedUser.password" #password="ngModel" minlength="6"
  class="form-control mb-4" placeholder="Password" name="password" value="" required>
  <div *ngIf="signup_form.submitted && password.errors" class="bg-danger text-white text-center">
      <label *ngIf="password?.errors.required">password is required</label>
      <label *ngIf="password?.errors.minlength">password must be at least 6 </label>
    </div>

  <flash-messages></flash-messages>

  <!-- Sign in button -->
  <div class="form-group ">
      <input type="submit" class="btn btn-success btn-lg btn-block login-button" value="CREATE ACCOUNT"/>
    </div>
  <!-- Register -->
  <p>
      <a routerLink="/login" class="text-white">I have an account.</a>
  </p> <br>



</form>

