




<!-- ================================================ -->
<div class="jumbotron text-center mdb-color pink accent-3 white-text mx-2 mb-5">

    <!-- Title -->
    <h2 class="card-title bold h2"> </h2>

    <!-- Subtitle -->
    <p class="my-4 h3"> Your are about to become a Marketer on Channel1000</p>

    <!-- Grid row -->
    <div class="row d-flex justify-content-center">
      <!-- Grid column -->
      <div class="col-xl-7 pb-2">
        <p class="card-text">   In just minutes, you'll have the ability to trade stocks,
           options, mutual funds, ETFs, and bonds. </p>
      </div>

<!-- Default form login -->


    <form class="text-center border border-light p-5"  #signup_form="ngForm"
    (submit)="signup_form.valid && onSubmit(signup_form)">
        <p class="h4 mb-4">MARKETTER</p>

        <!-- account selector -->
        <div class="input-group mb-3">
            <div class="input-group-append">
                <label class="input-group-text text-info " for="inputGroupSelect">Selected</label>
              </div>
            <select (change)="selectOption()" class="custom-select" name="select_role" id="select_role" required>
              <option selected  class="member" value="markerter">MARKETER </option>
              <option class="investor" value="investor">INVESTOR</option>

            </select>
          </div>

    <!-- Email -->
    <i class="fas fa-envelope prefix"></i>
    <input type="email" id="email" name="email"  #email="ngModel"
    [(ngModel)]="userService.selectedUser.email" required [pattern]="emailRegex"
     class="form-control mb-4" placeholder="E-mail" autocapitalize="none">
     <div *ngIf="signup_form.submitted && email.errors" class="bg-danger text-white text-center">
        <label *ngIf="email?.errors.required" >email is required</label>
        <label *ngIf="email?.errors.pattern" >email must be valid.</label>
      </div>

                <!-- firstname -->
        <i class="fa fa-user fa" aria-hidden="true"></i>
    <input type="text" id="firstname" name="firstname"  #firstname="ngModel"
    [(ngModel)]="userService.selectedUser.firstname" required
     class="form-control mb-4" placeholder="Firstname" autocapitalize="none">
     <div *ngIf="signup_form.submitted && !firstname.valid"  class="bg-danger text-white text-center">
        <label >firstname is required</label>
      </div>

                <!-- lastname -->
        <i class="fa fa-user fa" aria-hidden="true"></i>
    <input type="text" id="lastname" name="lastname"  #lastname="ngModel"
    [(ngModel)]="userService.selectedUser.lastname" required
     class="form-control mb-4" placeholder="Lastname" autocapitalize="none">
     <div *ngIf="signup_form.submitted && !lastname.valid"  class="bg-danger text-white text-center">
        <label >lastname is required</label>
      </div>

                <!-- number -->
        <i class="fa fa-phone square " aria-hidden="true"></i>
    <input type="number" id="number" name="number"  #number="ngModel"
    [(ngModel)]="userService.selectedUser.number" required
     class="form-control mb-4" placeholder="Number" autocapitalize="none">
     <div *ngIf="signup_form.submitted && !number.valid"  class="bg-danger text-white text-center">
        <label >phone number is required</label>
      </div>

     <!-- password -->
     <i class="fas fa-lock prefix"></i>
    <input type="password"   [(ngModel)]="userService.selectedUser.password" #password="ngModel" minlength="6"
    class="form-control mb-4" placeholder="Password" name="password" value="" required>
    <div *ngIf="signup_form.submitted && password.errors" class="bg-danger text-white text-center">
        <label *ngIf="password?.errors.required">password is required</label>
        <label *ngIf="password?.errors.minlength">password must be at least 6 </label>
      </div>

     <!-- password confirm -->
     <i class="fas fa-lock prefix"></i>
    <input type="password"  minlength="6"
    class="form-control mb-4" placeholder="Confirm Password" name="conf_password"  id="conf_password" required>
    <div *ngIf="signup_form.submitted && password.errors" class="bg-danger text-white text-center">
        <label *ngIf="password?.errors.required">password is required</label>
        <label *ngIf="password?.errors.minlength">password must be at least 6 </label>
      </div>


    <!-- server error message -->
      <!-- show success message -->
      <div *ngIf="showSuccessMessage"  class="text-white bg-sucess text-center">
          Registration Successful...
      </div>
      <!-- server error message -->
      <div *ngIf="serverErrormessages"  class="text-white bg-danger text-center">
          {{serverErrormessages}}
      </div>
    <!-- Sign in button -->
    <div class="form-group ">
        <input type="submit" class="btn btn-success btn-lg btn-block login-button" value="CREATE ACCOUNT"/>
      </div>
    <!-- Register -->
    <p>
        <a routerLink="/login" class="text-white">I have an account.</a>
    </p> <br>



</form>


