


<app-navbar></app-navbar>

<ion-content>

  <!-- packages selection -->

 <ion-card color="light">
  <section *ngIf="selectpackage" class="details-card">
    <ion-card-title class="text-center">SELECT YOUR PACKAGE</ion-card-title>
      <div class="containerd-flex justify-content-center">
         <ion-row class="m-5 p-5">
           <ion-col  class="p-1" >

              <div class="card-content" style="width: 200px; height: 350px;">
                  <div class="card-img">
                      <img class="package" src="../../assets/bronze.png" width="100" height="100" alt="">
                  </div>
                  <ion-chip color="primary"><h4>BRONZE </h4></ion-chip>
                  <div class="card-desc">
                      <h3 class="text-center">PACKAGE1000</h3>

                       <div class="text-center ">
                        <div>WAEC past questions</div>
                        <div>JAMB past questions</div>
                        <div>UTME past questions</div>
                        <div>NECO past questions</div>
                        <div>job application letter</div>
                       </div>


                          <div class="ion-text-center">
                            <ion-button (click)="selectPackage('PACKAGE1000','CUSTOMER')" expand="block" fill="outline" shape="round">
                              select
                            </ion-button>
                          </div>
                  </div>
              </div>
           </ion-col>

           <ion-col  class="p-1">

              <div class="card-content"  style="width: 200px; height: 350px;">
                  <div class="card-img">
                      <img class="package" src="../../assets/silver.jpeg" width="100" height="100" alt="">
                  </div>
                  <ion-chip color="primary"><h4>SILVER </h4></ion-chip>
                  <div class="card-desc">
                      <h3 class="text-center">PACKAGE2000</h3>
                      <div class="text-center ">
                        <div>NABTEB past questions</div>
                        <div>NOUN past questions</div>
                        <div>POST GRADUATE past questions</div>
                        <div>professional cv sample</div>
                        <div>job application letter</div>
                       </div>

                          
                            <div class="ion-text-center">
                              <ion-button (click)="selectPackage('PACKAGE2000','CUSTOMER')" expand="block" fill="outline" shape="round">
                                select
                              </ion-button>
                            </div>
                  </div>
              </div>
           </ion-col>
           <ion-col  class="p-1">

              <div class="card-content" style="width: 200px; height: 350px;">
                  <div class="card-img">
                      <img class="package" src="../../assets/gold.jpg" width="100" height="100" alt="">
                  </div>
                  <ion-chip color="primary"><h4>GOLD </h4></ion-chip>
                  <div class="card-desc">
                      <h3 class="text-center">PACKAGE5000</h3>
                      <div class="text-center ">
                        <div>SIWES report sample</div>
                        <div>interview past questions</div>
                        <div>skill training videos</div>

                       </div>
                        
                          <div class="ion-text-center">
                            <ion-button  (click)="selectPackage('PACKAGE5000','CUSTOMER')" expand="block" fill="outline" shape="round">
                              select
                            </ion-button>
                          </div>
                  </div>
              </div>
           </ion-col>
           <ion-col  class="p-1">

              <div class="card-content" style="width: 200px; height: 350px;">
                  <div class="card-img ion-text-center">
                      <img class="package" src="../../assets/daimond.jpg" width="100" height="100" class="package"   alt="">

                  </div>
                  <ion-chip color="primary"><h4>DIAMOND </h4></ion-chip>
                  <div class="card-desc">
                      <h3 class="text-center">PACKAGE10000</h3>
                      <div class="text-center ">
                        <div>final year project report sample</div>
                        <div>business proporsal sample</div>
                        <div>professional example documents (e.g IELTS)</div>
                        <div>soft skill training</div>
                       </div>
                          <!-- <div class="text-center">
                            <button class="btn-card"
                             (click)="selectPackage('PACKAGE10000','CUSTOMER')">select</button>
                          </div> -->

                          <div class="ion-text-center">
                            <ion-button  (click)="selectPackage('PACKAGE10000','CUSTOMER')" expand="block" fill="outline" shape="round">
                              select
                            </ion-button>
                          </div>
                  </div>
              </div>
           </ion-col>
           <ion-col  class="p-1">

              <div class="card-content" style="width: 200px; height: 300px;">
                  <div class="card-img ion-text-center">
                      <img class="package" src="../../assets/profit.jpg" width="100" height="100"  alt="">
                  </div>
                  <div class="card-desc">
                      <h3 class="text-center">MARKETER</h3>
                      <div class="text-center ">
                        <div>share your link on social media</div>
                        <div>earn referal bonus</div>
                        <div>no activation fee</div>

                       </div>
                         

                          <div class="ion-text-center">
                            <ion-button   (click)="selectPackage('MARKETER','MARKETER')" expand="block" fill="outline" shape="round">
                              select
                            </ion-button>
                          </div>
                  </div>
              </div>
           </ion-col>
         </ion-row>
      </div>
  </section>
 </ion-card>
  <!-- end packages selection -->


    <!-- ############################ -->
    <div  *ngIf="showForm" class="">
      <div class="">
         <!-- <ion-card> -->
          <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <!-- <div class="login-logo">
                        <a>
                            
                        </a>
                    </div> -->


                    <ion-card  color="medium" >
                      <div class="col d-flex justify-content-center">
                        <img src="../../assets/ch_logo.png" >
                      </div>
                      <ion-grid fixed class="d-flex justify-content-center">
                        <ion-row>
                          <ion-col size="12">
                            <form    #signup_form="ngForm"  (submit)="signup_form.valid && onSubmit(signup_form)"
                            (keydown.enter)="signup_form.valid && onSubmit(signup_form)">
                            <div>
                              <h3 class="ion-padding text-white">CREATE ACCOUNT </h3>
       
                               </div>
      
                          <div class="form-group">
                            <label class="ml-4 text-white">Fullname</label>
                              <input class="au-input au-input--full" type="text"  #fullname="ngModel"
                              [(ngModel)]="model.fullname" required
                               name="fullname" placeholder="Joe don" required> 
                          </div>
                          <div *ngIf="fullname.dirty && fullname.errors"  class=" text-danger text-center">
                              <small class="text-danger " >fullname is required</small>
                            </div>
      
      
                          <div class="form-group">
                            <label  class="ml-4 text-white">Email</label>
                            <input class="au-input au-input--full" type="email"  #email="ngModel"
                            [(ngModel)]="model.email" required [pattern]="emailRegex" name="email" placeholder="example133@mail.com">
                        </div>
                        <div *ngIf="email.dirty && email.errors" class=" text-danger text-center">
                            <small class="text-danger " *ngIf="email?.errors.required" >email is required</small>
                            <small class="text-danger " *ngIf="email?.errors.pattern" >email must be valid.</small>
                          </div>
      
                          <div class="form-group">
                            <label  class="ml-4 text-white">Username</label>
                              <input class="au-input au-input--full" type="text"  #username="ngModel"
                              [(ngModel)]="model.username" required 
                               name="username" placeholder="example133">
                          </div>
                          <div *ngIf="username.dirty && username.errors"  class=" text-danger text-center">
                              <small class="text-danger " >username is required</small>
                            </div>
      
      
      
                          <div class="form-group">
                            <label  class="ml-4 text-white">password</label>
                              <input class="au-input au-input--full" type="password" name="password"  required
                               #password="ngModel" minlength="6"  [(ngModel)]="model.password"
                              placeholder="Password">
                          </div>
                          <div *ngIf="password.dirty && password.errors" class=" text-danger text-center">
                              <small class="text-danger " *ngIf="password?.errors.invalid">password is required</small>
                              <small class="text-danger " *ngIf="password?.errors.minlength">password must be at least 6 </small>
                            </div>
      
                          <div class="form-group">
                            <label  class="ml-4 text-white">Confirm password</label>
                              <input class="au-input au-input--full" type="password" name="passwordConf"  required
                               #passwordConf="ngModel" minlength="6"  [(ngModel)]="model.confirmPassword"
                              placeholder="Confirm password">
                          </div>
                          <div *ngIf="passwordConf.dirty && password.value !== model.confirmPassword" class=" text-center">
                            <small class="text-danger ">password not matched</small>
                           
                          </div>
      
                          <div class="login-checkbox">
                              <div class="text-white">
                                 by creating account you Agree to the terms and <a [routerLink]="['/policy']" > <strong>policy</strong> </a>
                              </div>
                          </div>
                          
                               <div class="ion-text-center">
                                  <ion-button type="submit" shape="round" [disabled]="showBtnLoading"> sign up</ion-button>
      
                              </div>
      
                      </form>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    
                    
                              <p>
                                  Already have account?
                                  <a [routerLink]="['/login']"  >Sign In</a>
                              </p>
                    </ion-card>
                  
                </div>
            </div>
        </div>
         <!-- </ion-card> -->
      </div>

     
  </div>

   <!-- loader -->
   <div *ngIf="loading" class="spinner-container">
    <div class="loader">
    </div>
  </div>
 
  <app-footer></app-footer>


</ion-content>
